<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/flyui/js/flyimage.js"></script>
<body>
<div class="modal-header">
    <h4 class="modal-title">添加组件</h4>
</div>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form" action="{:url('/admin/test')}" enctype="multipart/form-data">
    <ul id="cellTab" class="nav nav-tabs">
        <li style="float: right;"><a href="javascript:addNewCell();">+</a></li>
    </ul>
    <div id="cellTabContent" class="tab-content"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary" onclick="postform()">提交</button>
    </div>
</form>
</body>
</html>
<script type="text/javascript">
    var cellsimagenum = new Array();
    var cellnum = 0;

    function verify(value) {
        if (value === undefined) {
            return "";
        } else {
            return value;
        }
    }

    function addImage(subcount, imageUrl, imageWidth, imageHeight) {
        subcount = verify(subcount);
        var imageTab = $('<li><a href="#image_' + subcount + '_' + cellsimagenum[subcount] + '" data-toggle="tab">' + cellsimagenum[subcount] + '</a></li>');
        var imageTabContent = $('' +
            '<div class="tab-pane fade in" id="image_' + subcount + '_' + cellsimagenum[subcount] + '">' +
            '    <input class="FlyImageInput" type="file" accept="image/*" name="imagefile" ' +
            '     subnum="' + subcount + '"imageUrl="' + verify(imageUrl) + '" ' +
            '     imageWidth="' + verify(imageWidth) + '" imageHeight="' + verify(imageHeight) + '">' +
            '</div>');
        $('#imageTab' + subcount).get(0).append(imageTab.get(0));
        $('#imageTabContent' + subcount).get(0).append(imageTabContent.get(0));
        $('#imageTab' + subcount + ' a:last').click();
        refreshFlyImage();
        cellsimagenum[subcount]++;
    }

    function addNewCell() {
        addCell(cellnum);
        cellnum++;
    }

    function addCell(num) {
        var cellTab = $('<li><a href="#cell' + num + '" data-toggle="tab">View-' + num + '</a></li>');
        var cellTabContent = $(
            '<div class="tab-pane fade in" id="cell' + num + '">' +
            '    <div class="modal-body">' +
            '        <div class="form-group" style="margin-bottom: 0px">' +
            '            <input type="hidden" name="cell[]" value="'+num+'_">' +
            '            <label class="col-sm-1 control-label" >基本属性</label>' +
            '            <div class="col-sm-5" style="padding:2px 2px 2px 2px;border:solid;border-width:1px;border-color: #EEEEEE;">' +
            '                <div style="margin:2px 20px 2px 2px;height:30px;float: left;">' +
            '                    关联模板：' +
            '                    <select name="'+num+'_themeId" style="height: 30px;border:solid;border-width:1px;border-color: #000000;">' +
            '                       {volist name="themes" id="theme" key="k"}' +
            '                        <option value="{$theme.themeId}">{$theme.themeName}</option>' +
            '                       {/volist}' +
            '                    </select>' +
            '                </div>' +
            '                <div style="margin:2px 20px 2px 2px;height:30px;float: left;">' +
            '                    组件类型：' +
            '                    <select name="'+num+'_celltypeId" style="height: 30px;border:solid;border-width:1px;border-color: #000000;">' +
            '                       {volist name="celltypes" id="celltype" key="k"}' +
            '                        <option value="{$celltype.celltypeId}">{$celltype.celltypeName}</option>' +
            '                       {/volist}' +
            '                    </select>' +
            '                </div>' +
            '                <div style="margin:2px 20px 2px 2px;height:30px;float: left;">' +
            '                    组&nbsp;&nbsp;件&nbsp;&nbsp;ID：' +
            '                    <input name="'+num+'_resId" style="height: 30px;" type="text" value="" placeholder="">' +
            '                </div>' +
            '            </div>' +
            '        </div>' +
            '        <div class="form-group">' +
            '            <label class="col-sm-1 control-label" style="margin:5px 0 5px 0">添加图片</label>' +
            '            <div class="col-sm-5" style="padding:2px 2px 2px 2px;border:solid;border-width:1px;border-color: #EEEEEE;">' +
            '                <ul id="imageTab' + num + '" class="nav nav-tabs">' +
            '                    <li style="float: right"><a href="javascript:addImage(' + num + ');">+</a></li>' +
            '                </ul>' +
            '                <div id ="imageTabContent' + num + '" class="tab-content">' +
            '                </div>' +
            '            </div>' +
            '        </div>' +
            '    </div>' +
            '</div>');
        $('#cellTab').get(0).append(cellTab.get(0));
        $('#cellTabContent').get(0).append(cellTabContent.get(0));
        $('#cellTab a:last').click();
        cellsimagenum[num] = 0;
        addImage(num);
    }

    function refreshFlyImage() {
        $('.FlyImageInput').flyinput({
            ajaxurl: "/uiweb/api/imagefile",
            postData: true,
            width: "100%",
            height: "240px"
        }).bind("success", function (e, data) {
        }).bind("del", function (e) {
        });
    }

    addNewCell();
</script>