<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JanCar-管理系统</title>
    <link rel="stylesheet" type="text/css" href="__RES__/auth/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="__RES__/auth/css/main.css"/>
    <script type="text/javascript" src="__RES__/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__RES__/auth/js/md5.js"></script>
    <script type="text/javascript" src="__RES__/auth/js/times.js"></script>
</head>
<body onload="showLeftTime()">
<div class="login-mask">
    <img class="backimg" src="__RES__/auth/img/back.jpg">
</div>
<div class="top">
    <div class="top-logo">
        <img alt="" src="__RES__/auth/img/logo.png">
    </div>
    <div class="top-name">
        <div class="top-name-cn">管理系统</div>
    </div>
    <div class="top-info">
        <div class="top-info-date">
            <label id="show">显示时间的位置</label>
        </div>

    </div>
</div>
<div class="login-center">
    <form action='{:url("/auth/register/register")}' method="post" id="registerFrom" name="registerFrom"
          enctype="multipart/form-data">
        <table class="reg-tab" width="100%">
            <tbody>
            <tr>
                <th colspan="2" style="font-size: 28px;">注&emsp;册</th>
            </tr>
            <tr>
                <td>帐&emsp;&emsp;号：</td>
                <td><input class="reg-tab-input" id="loginname" name="loginname" size="24" value="" type="text"></td>
            </tr>
            <tr>
                <td>密&emsp;&emsp;码：</td>
                <td><input class="reg-tab-input" id="loginword" name="loginword" size="24" value="" type="password"></td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input class="reg-tab-input" id="loginword2" size="24" value="" type="password"></td>
            </tr>
            <tr>
                <td>验&ensp;证&ensp;码：</td>
                <td>
                    <div><img id="captchaimg" src="{:captcha_src()}" onclick="refreshVerify()"/></div>
                    <input class="reg-tab-input" id="captcha" name="captcha" size="24" value="" type="text">
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <div id="message">&emsp;</div>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="button" class="btn btn-primary btn150" value="注册" id="register">
                    <input type="reset" class="btn btn-primary btn150" value="重置" id="reset">
                </th>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="login-end">
    <div class="top-info-bottom">
        <a href="{:url('/auth/login')}">帐号登陆</a>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#register').click(function () {
            if ($('#loginname').val() == "") {
                $('#message').html("<font color='red'><b>请输入用户名</b></font>");
                $('#loginname').focus();
                return false;
            }

            if ($('#loginword').val() == "") {
                $('#message').html("<font color='red'><b>请输入密码</b></font>");
                $('#loginword').focus();
                return false;
            }

            if ($('#loginword2').val() != $('#loginword').val()) {
                $('#message').html("<font color='red'><b>两次输入密码不一致</b></font>");
                $('#loginword2').focus();
                return false;
            }


            $('#message').html("");

            var loginword = hex_md5(document.getElementById("loginword").value);
            $.ajax({
                url: ajaxurl,
                type: "post",
                data: "loginname=" + $("#loginname").val(),
                dataType: 'html',
                success: function (result) {
                    if (result.length > 2) {
                        $('#message').html("<font color='red'><b>" + result + "</b></font>");
                        return false;
                    } else {
                        $('#message').html("<font color='blue'><b>注册请求已提交！</b></font>");
                        document.getElementById("loginword").value = loginword;
                        $('#registerFrom').submit();
                    }
                }
            });
        });

        $('#reset').click(function () {
            $("#message").html("&emsp;");
        });
    });

    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        var img = document.getElementById('captchaimg');
        img.src = "{:url('/captcha?id=')}"+ts;
    }
</script>