<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JanCar-管理系统</title>
    <link rel="stylesheet" type="text/css" href="__RES__/auth/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="__RES__/auth/css/main.css"/>
    <script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__RES__/auth/js/md5.js"></script>
    <script type="text/javascript" src="__RES__/auth/js/times.js"></script>
</head>
<body onload="showLeftTime()">
<div class="login-mask">
    <img class="backimg" src="__RES__/auth/img/back.jpg">
</div>
<div class="top">
    <div class="top-logo">
        <img alt="" src="__RES__/auth/img/logo.png">
    </div>
    <div class="top-name">
        <div class="top-name-cn">管理系统</div>
    </div>
    <div class="top-info">
        <div class="top-info-date">
            <label id="show">显示时间的位置</label>
        </div>
    </div>
</div>
<div class="login-center">
    <form name="loginform" id="loginform" accept-charset="utf-8" action='{:url("/auth/login/login")}' method="post">
        <table class="reg-tab" width=100%>
            <tr>
                <th colspan="2" style="font-size: 28px;">登&emsp;陆</th>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <div >&emsp;</div>
                </td>
            </tr>
            <tr>
                <td>帐&emsp;&emsp;号：</td>
                <td><input class="reg-tab-input" id="loginname" name="loginname" size="20" value="" type="text"></td>
            </tr>
            <tr>
                <td>密&emsp;&emsp;码：</td>
                <td><input class="reg-tab-input" id="password" name="password" size="20" value="" type="password"></td>
            </tr>
            <tr>
                <th colspan="2">
                    <div id="message">&emsp;</div>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="button" class="btn btn-primary btn150" value="登陆" id="login">
                    <input type="reset" class="btn btn-primary btn150" value="重置" id="reset">
                </th>
            </tr>
        </table>
    </form>
</div>
<div class="login-end">
    <div class="top-info-bottom">
        <a href="{:url('/auth/register')}">注册帐号</a>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
    $(function() {
        $('#login').click(function() {
            // 判断是否为空
            if ($('#loginname').val() == "") {
                $('#loginname').focus();
                return false;
            }
            if ($('#password').val() == "") {
                $('#password').focus();
                return false;
            }
            // 判断用户名密码是否正确
            var password = hex_md5(document.getElementById("password").value);
            $.ajax({
                url:"{:url('/auth/login/login')}",
                type:"post",
                data:"loginname=" + $("#loginname").val()+"&loginword="+password,
                dataType:'html',
                success: function(result) {
                    if (result.length > 2) {
                        $("#message").html("<font color='red'><b>"+result+"</b></font>");
                        return false;
                    } else {
                        window.location.href = "{:url('/admin/index')}";
                        // document.getElementById("password").value = password;
                        // $('#loginform').submit();
                    }
                }
            });
        });

        $('#reset').click(function() {
            $("#message").html("&emsp;");
        });

    });

</script>