<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/admin/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"
      action="{:url('/api/celltype')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="">新增控件类型</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">类别名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="celltypeName" id="celltypeName" value=""
                       placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">类别标识</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="celltype" id="celltype" value=""
                       placeholder="请输入类型标识(*唯一值，不能与已录入数据重复)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">图片示例</label>
            <div class="col-sm-5">
                <input type="file" id="imageinput1" name="imagefile">
                <input type="hidden" id="imageurl1" name="imageurl" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">特殊属性</label>
            <div class="col-sm-5">
                            <textarea class="form-control" name="remark" value="" id="extend"
                                      placeholder="属性类别=属性名称，多个属性用#分隔，例如：新增一个图片属性和一个文本属性，image=child1#text=shay"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">备注</label>
            <div class="col-sm-5">
                            <textarea class="form-control" name="remark" value="" id="remark"
                                      placeholder="备注"></textarea>
            </div>
        </div>
        <input type="hidden" name="userid" id="userid" value="{$Think.session.user_id}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  onclick="onCancel()" >取消</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postcelltype()">提交</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var celltypeurl = "{:url('/api/celltype')}";
    var upimageurl = "{:url('/api/imagefile')}";
    //POST提交数据
    function postcelltype() {
        if ($('#celltypeName').val() === "") {
            $('#celltypeName').focus();
            return
        }

        if ($('#celltype').val() === "") {
            $('#celltype').focus();
            return
        }
        $.ajax({
            type: "POST",
            url: celltypeurl,
            data: $('#celltypeform').serialize(),
            error: function (request) {
                alert("向服务器提交数据失败了!\n" +
                    "可能的错误原因：\n" +
                    "1.重复的类型标识;\n" +
                    "2.重复的类型名称;\n" +
                    "3.网络请求失败。");
            },
            success: function (data) {
                window.location.href = "{:url('/flyui/celltype')}";
            }
        });
    }

    $('#imageinput1').flyinput({
        url: upimageurl,
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px",
        background: "#101010"
    }).on("success", function (event, data) {
        var result = JSON.parse(data);
        $('#imageurl1').val(result.data.saveName);
    });

    function onCancel() {
        window.location.href="{:url('/flyui/celltype')}";
    }

</script>
