<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css">
<link rel="stylesheet" type="text/css" href="_CSS_/main.css">
<script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="_JS_/bootstrap.js"></script>
<body>
<div class="header"></div>
<div class="left-menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="active" role="presentation"><a href="{:url('/admin/celltype')}" target="mainIframe">celltype</a></li>
        <li role="presentation"><a href="{:url('/admin/cell')}" target="mainIframe">cell</a></li>
        <li role="presentation"><a href="{:url('/admin/table')}" target="mainIframe">table</a></li>
        <li role="presentation"><a href="{:url('/admin/uiscreen')}" target="mainIframe">uiscreen</a></li>
    </ul>
</div>
<div class="content">
    <iframe name="mainIframe" src="{:url('/admin/celltype')}" frameborder="0"></iframe>
</div>
<script type="text/javascript">
    function changeMargin(){
        //获取网页可见区域宽度
        var height = document.body.clientHeight;
        $('.left-menu').css('height',(height-55)+'px');
        $('.content').css('height',(height-55)+'px');
        $('.iframe').css('height',(height-55)+'px');
    }

    $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
    //加载页面时执行一次
    changeMargin();
    //监听浏览器宽度的改变
    window.onresize = function(){
        changeMargin();
    };
</script>
</body>
</html>