<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/flyui.css">
<script type="text/javascript" src="__RES__/admin/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap.js"></script>
<body>
<div class="header"></div>
<div class="left-menu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading mousemove">
                <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapse3">主页配置</div>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{:url('/admin/welcome')}" target="mainIframe">欢迎页面</a></li>
                        <li role="presentation"><a href="{:url('/admin/product')}" target="mainIframe">产品管理</a></li>
                        <li role="presentation"><a href="{:url('/admin/news')}" target="mainIframe">新闻管理</a></li>
                        <li role="presentation"><a href="{:url('/admin/cases')}" target="mainIframe">案例管理</a></li>
                        <li role="presentation"><a href="{:url('/admin/about')}" target="mainIframe">公司介绍</a></li>
                        <li role="presentation"><a href="{:url('/admin/recruitment')}" target="mainIframe">人才招聘</a></li>
                        <li role="presentation"><a href="{:url('/admin/history')}" target="mainIframe">发展历程</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading mousemove">
                <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapse1">应用配置</div>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active" role="presentation"><a href="{:url('/admin/celltype')}" target="mainIframe">控件类型</a></li>
                        <li role="presentation"><a href="{:url('/admin/theme')}" target="mainIframe">项目管理</a></li>
                        <li role="presentation"><a href="{:url('/admin/cell')}" target="mainIframe">控件管理</a></li>
                        <li role="presentation"><a href="{:url('/admin/page')}" target="mainIframe">页面管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading mousemove">
                <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapse2">工厂设置</div>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{:url('/admin/factory')}" target="mainIframe">默认设置</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <iframe name="mainIframe" src="{:url('/admin/theme')}" frameborder="0"></iframe>
</div>
<script type="text/javascript">
    function changeMargin() {
        //获取网页可见区域宽度
        var height = document.body.clientHeight;
        $('.left-menu').css('height', (height - 55) + 'px');
        $('.content').css('height', (height - 55) + 'px');
        $('.iframe').css('height', (height - 55) + 'px');
    }

    $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
    //加载页面时执行一次
    changeMargin();
    //监听浏览器宽度的改变
    window.onresize = function () {
        changeMargin();
    };
</script>
</body>
</html>