<!-- KRAJEE EXPLORER THEME (BASIC) -->

<!-- load the CSS files in the right order -->
<link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css">
<link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="_CSS_/bootstrap-table.css">
<link rel="stylesheet" type="text/css" href="_CSS_/fileinput.css">
<script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="_JS_/bootstrap.js"></script>
<script type="text/javascript" src="_JS_/bootstrap-table.js"></script>
<script type="text/javascript" src="_JS_/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="_JS_/fileinput.js"></script>
<script type="text/javascript" src="_JS_/fileinput-zh-CN.js"></script>

<label for="input-ke-1">Select File</label>
<div class="file-loading">
    <input id="input-ke-1" name="input-ke-1[]" type="file" multiple accept="image">';
</div>
<script>
    $("#input-ke-1").fileinput({
        theme: "explorer",
        uploadUrl: "/file-upload-batch/2",
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        initialPreviewAsData: true,
        initialPreview: [
            "http://lorempixel.com/1920/1080/nature/1",
            "http://lorempixel.com/1920/1080/nature/2",
            "http://lorempixel.com/1920/1080/nature/3"
        ],
        initialPreviewConfig: [
            {caption: "nature-1.jpg", size: 329892, width: "120px", url: "/site/file-delete", key: 1},
            {caption: "nature-2.jpg", size: 872378, width: "120px", url: "/site/file-delete", key: 2},
            {caption: "nature-3.jpg", size: 632762, width: "120px", url: "/site/file-delete", key: 3}
        ],
        initialPreviewDownloadUrl: 'http://lorempixel.com/1920/1080/nature/{key}' // the key will be dynamically replaced
    });
</script>