@CHARSET "UTF-8";
#_outerDiv {
    left: 200px;
    top: 50px;
    height: 720px;
    width: 1280px;
    border: 1px solid black;
    position: relative;
    background: #00007F;
    overflow: scroll;
}