@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
}

.menu {
    width: 100%;
    border: 1px solid #ccc;
}

.menu p {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    background: #eee;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding-left: 5px;
}

.menu div ul {
    display: none;
}

.menu li {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    border: 1px solid #ccc;
}