<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面编辑</title>
</head>
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    a:link {
        color: #0000ff;
        text-decoration: none;
    }

    a:visited {
        color: #0000ff;
        text-decoration: none;
    }

    a:hover, a:active, a:focus {
        color: #999999;
        text-decoration: none;
    }

    .flycenter {
        margin: 0 auto;
        width: 1580px;
        background: lightsteelblue;
    }

    .flyscreen {
        position: relative;
        float: left;
        width: 1280px;
        height: 720px;
        overflow: auto;
        border: solid;
        box-sizing: border-box;
        border-width: 0px;
        border-color: #000000;
        background: #1b6d85;
    }

    .flyscreenmsg {
        text-align: right;
        float: left;
        width: 100%;
        position: relative;
        font-size: 24px;
        color: #FF00FF;
    }

    .flycellmenu {
        position: relative;
        float: left;
        width: 380px;
        height: 720px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: solid;
        box-sizing: border-box;
        border-width: 0px;
        border-color: #000000;
        background: #009688;
    }

    .flycontrlmenu {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 60px;
        border: solid;
        box-sizing: border-box;
        border-width: 1px;
        border-color: #000000;
    }

    .position {
        position: absolute;
        padding-left: 2px;
        text-align: left;
        color: #FF00FF;
    }

    .arrow-down {
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 24px;
        height: 24px;
        margin: auto;
        display: inline-block;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-top: 24px solid #FFB800;
    }

    .arrow-up {
        position: absolute;
        top: 0;
        bottom: 80px;
        left: 0;
        right: 0;
        width: 24px;
        height: 24px;
        margin: auto;
        display: inline-block;
        border-bottom: 24px solid #FFB800;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
    }

    .arrow-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 80px;
        width: 24px;
        height: 24px;
        margin: auto;
        display: inline-block;
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-right: 24px solid #FFB800;
    }

    .arrow-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 80px;
        right: 0;
        width: 24px;
        height: 24px;
        margin: auto;
        display: inline-block;
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 24px solid #FFB800;
    }
</style>
<body>
<div class="flycenter">
    <div style="text-align: left;">
        &nbsp;&nbsp;{$item.themeName}-顶部页面&nbsp;&nbsp;[{$item.width}X{$item.height}]
    </div>
    <div class="flyscreen"></div>
    <div class="flycellmenu"></div>
    <div class="flycontrlmenu">
        <label>显示删除</label><input id="showdel" type="checkbox">
        <!--<label>显示网格</label><input id="showgrid" type="checkbox">-->
        <label>位置微调</label><input id="showposition" type="checkbox" checked="checked">
        <button type="button" onclick="refreshPagecell()" class="btn btn-lg">重新加载</button>
        <button type="button" onclick="savePagecell()" class="btn btn-lg">保存设置</button>
    </div>

</div>
</body>
<script type="text/javascript">
    var cellurl = "{:url('/api/cell')}";
    var pagecellurl = "{:url('/api/pagecell')}";
    var pageId = "{$item.pageId}";

    //定义全局变量
    var screenCellArr = [];
    var menuCellArr = [];
    var screenMoveDiv = null;
    var screenMoveDivPoint = {};
    var screenMoveCell = null;
    var bodyMoveDiv = null;
    var addMenuCell = null;
    var MENUCELL_WIDTH = "120px";
    var MENUCELL_HEIGHT = "120px";

    var SHOW_DEL = false;
    var SHOW_POSITION = true;

    var flycenterwidth = trimPX("{$item.width}px") + 380;

    $('.flycenter').css('width', flycenterwidth + 'px');
    $('.flycontrlmenu').css('width', flycenterwidth + 'px');
    $('.flyscreen').css('width', '{$item.width}px');
    $('.flyscreen').css('height', '{$item.height}px');
    $('.flycellmenu').css('width', '380px');
    $('.flycellmenu').css('height', '{$item.height}px');

    upMenuCell();
    refreshPagecell();

    function trimPX(_px) {
        if (_px === null || _px === "")
            return 0;
        return parseInt(_px.substr(0, _px.lastIndexOf("px")));
    }

    //获取鼠标点击区域在Html绝对位置坐标
    function mouseCoords(event) {
        if (event.pageX || event.pageY) {
            return {x: event.pageX, y: event.pageY};
        }
        return {
            x: event.clientX + document.body.scrollLeft - document.body.clientLeft,
            y: event.clientY + document.body.scrollTop - document.body.clientTop
        };
    }

    function showMSG(x, y) {
        var flyscreenmsg = $('.flyscreenmsg').get(0);
        if (flyscreenmsg) {
            flyscreenmsg.innerHTML = Math.round(x) + ',' + Math.round(y);
        }
    }

    function createScreenCellDiv(cell, num) {
        var div = $('<div></div>');
        div.css('position', 'absolute');
        div.css('width', cell.width + 'px');
        div.css('height', cell.height + 'px');
        div.css('left', cell.x + 'px');
        div.css('top', cell.y + 'px');
        div.css('background', '#efefff');
        switch (cell.type) {
            case 11:
                break;
            default:
                //图像
                var image = $('<img>');
                image.css('position', 'absolute');
                image.css('width', cell.width + 'px');
                image.css('height', cell.height + 'px');
                image.css('left', 0 + 'px');
                image.css('top', 0 + 'px');
                image.attr('src', cell.imageurl1);
                image.attr('ondragstart', 'return false;');
                div.get(0).append(image.get(0));
                //文字
                var text = $('<div></div>');
                text.css('position', 'absolute');
                text.css('text-align', 'center');
                text.css('width', cell.width + 'px');
                text.css('font-size', cell.textSize + 'px');
                text.css('color', cell.textColor);
                text.css('top', (cell.height - 48) + 'px');
                text.get(0).innerHTML = cell.textTitle;
                try {
                    var data = JSON.parse(cell.textTitle);
                    var content = data.zh;
                    if (content) {
                        content = content.replace('\n', '<br/>');
                        text.get(0).innerHTML = content;
                    }
                } catch (e) {
                    // console.log(e);
                }
                div.get(0).append(text.get(0));
                //位置调节
                if (SHOW_POSITION) {
                    var positon = $('<div></div>');
                    var arrow_up = $('<div class="arrow-up"></div>');
                    var arrow_down = $('<div class="arrow-down"></div>');
                    var arrow_left = $('<div class="arrow-left"></div>');
                    var arrow_right = $('<div class="arrow-right"></div>');
                    arrow_up.on("click", function (event) {
                        var y = trimPX(div.get(0).style.top);
                        div.get(0).style.top = (y - 1) + 'px';
                        cell.y = y - 1;
                        show_position.get(0).innerHTML = cell.x + "X" + cell.y;
                    });
                    arrow_down.on("click", function (event) {
                        var y = trimPX(div.get(0).style.top);
                        div.get(0).style.top = (y + 1) + 'px';
                        cell.y = y + 1;
                        show_position.get(0).innerHTML = cell.x + "X" + cell.y;
                    });
                    arrow_left.on("click", function (event) {
                        var x = trimPX(div.get(0).style.left);
                        div.get(0).style.left = (x - 1) + 'px';
                        cell.x = x - 1;
                        show_position.get(0).innerHTML = cell.x + "X" + cell.y;
                    });
                    arrow_right.on("click", function (event) {
                        var x = trimPX(div.get(0).style.left);
                        div.get(0).style.left = (x + 1) + 'px';
                        cell.x = x + 1;
                        show_position.get(0).innerHTML = cell.x + "X" + cell.y;
                    });
                    positon.css('position', 'absolute');
                    positon.css('width', '100%');
                    positon.css('height', '100%');
                    positon.get(0).append(arrow_up.get(0));
                    positon.get(0).append(arrow_down.get(0));
                    positon.get(0).append(arrow_left.get(0));
                    positon.get(0).append(arrow_right.get(0));
                    div.get(0).append(positon.get(0));
                }
                //删除按钮
                if (SHOW_DEL) {
                    var del = $('<div>X</div>');
                    del.css('position', 'absolute');
                    del.css('left', (cell.width - 22) + 'px');
                    del.css('top', '2px');
                    del.css('width', '20px');
                    del.css('height', '20px');
                    del.css('background', '#FAF000');
                    del.css('font-size', '18px');

                    del.on("click", function (event) {
                        $('.flyscreen').get(0).removeChild(div.get(0));
                        screenCellArr.splice(num, 1);
                    });
                    div.get(0).append(del.get(0));
                }
                break;
        }
        if (SHOW_POSITION) {
            var show_position = $('<div id="position" class="position"></div>');
            show_position.get(0).innerHTML = cell.x + "X" + cell.y;
            div.get(0).append(show_position.get(0));
        }
        div.on('mousedown', function (event) {
            Ev = event || window.event;
            //鼠标点击的绝对位置
            var mousePos = mouseCoords(event);
            var x = mousePos.x;
            var y = mousePos.y;
            //获取div在body中的绝对位置
            var x1 = this.offsetLeft;
            var y1 = this.offsetTop;
            //鼠标点击位置相对于div的坐标
            var x2 = x - x1;
            var y2 = y - y1;
            if (addMenuCell === null) {
                screenMoveCell = cell;
                screenMoveDiv = div.get(0);
                screenMoveDivPoint.x = x2;
                screenMoveDivPoint.y = y2;
            }
        });
        return div.get(0);
    }

    /**
     * @param cell
     * @returns {*|jQuery|HTMLElement}
     */
    function createMenuCellDiv(cell) {
        var div = $('<div></div>');
        div.css('position', 'relative');
        div.css('float', 'left');
        div.css('text-align', 'center');
        div.css('width', MENUCELL_WIDTH);
        div.css('height', MENUCELL_HEIGHT);
        div.css('border', 'solid');
        div.css('border-width', '1px');
        div.css('border-color', '#707F00');
        switch (cell.type) {
            case 11:
                break;
            default:
                //图像
                var image = $('<img>');
                image.css('position', 'absolute');
                image.attr('src', cell.imageurl1);
                if (cell.width > cell.height) {
                    image.attr('width', MENUCELL_WIDTH);
                    image.attr('height', 'auto');
                    image.css('left', '0px');
                    image.css('top', (cell.width - cell.height) * trimPX(MENUCELL_WIDTH) / cell.width / 2 + 'px');
                } else {
                    image.attr('width', 'auto');
                    image.attr('height', MENUCELL_HEIGHT);
                    image.css('left', (cell.height - cell.width) * trimPX(MENUCELL_HEIGHT) / cell.height / 2 + 'px');
                    image.css('top', '0px')
                }
                image.attr('ondragstart', 'return false;');
                div.get(0).append(image.get(0));
                //文字
                var text = $('<div></div>');
                text.css('position', 'absolute');
                text.css('text-align', 'center');
                text.css('width', MENUCELL_WIDTH);
                text.css('top', (trimPX(MENUCELL_HEIGHT) - 24) + 'px')
                text.css('font-size', '12px');
                text.css('color', '#000000');
                // text.css('top', (MENUCELL_HEIGHT  - 48) + 'px');
                text.get(0).innerHTML = cell.textTitle;
                try {
                    var data = JSON.parse(cell.textTitle);
                    var content = data.zh;
                    if (content) {
                        content = content.replace('\n', '<br/>');
                        text.get(0).innerHTML = content;
                    }
                } catch (e) {
                    // console.log(e);
                }
                div.get(0).append(text.get(0));
                break;
        }
        div.on('mousedown', function (event) {
            //添加点击事件
            addMenuCell = cell;
        });
        return div.get(0);
    }

    /**
     * 根据TabID获取一页的cell数据
     * @param tabId
     */
    function upScreenCell(tabId) {
        var flyscreen = $('.flyscreen').get(0);
        flyscreen.innerHTML = '<div class="flyscreenmsg"></div>';
        if (flyscreen) {
            $.ajax({
                url: pagecellurl,
                type: "GET",
                data: "pageId=" + tabId,
                dataType: 'html',
                success: function (result) {
                    try {
                        var data = JSON.parse(result);
                        screenCellArr.splice(0, screenCellArr.length);
                        for (i = 0; i < data.cellList.length; i++) {
                            var num = screenCellArr.length;
                            var div = createScreenCellDiv(data.cellList[i], num);
                            if (div) {
                                screenCellArr[num] = data.cellList[i];
                                flyscreen.append(div);
                            }
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        }
    }

    /**
     * 获取添加的所有cell样板数据
     */
    function upMenuCell(searchStr) {
        var flycellmenu = $('.flycellmenu').get(0);
        flycellmenu.innerHTML = "";
        if (flycellmenu) {
            $.ajax({
                url: cellurl,
                type: "GET",
                data: "search=" + searchStr,
                dataType: 'html',
                success: function (result) {
                    try {
                        var data = JSON.parse(result);
                        menuCellArr.splice(0, menuCellArr.length);
                        flycellmenu.innerHTML = '';
                        for (i = 0; i < data.rows.length; i++) {
                            var num = screenCellArr.length;
                            menuCellArr[num] = data.rows[i];
                            flycellmenu.append(createMenuCellDiv(menuCellArr[num]));
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        }
    }

    function documentEventInit() {
        $(document).on('mousedown', function (event) {
            //
        }).on('mousemove', function (event) {
            try {
                if (addMenuCell) {
                    addMenuCell.imgUrl = addMenuCell.imageurl1;
                    if (bodyMoveDiv === null) {
                        bodyMoveDiv = createScreenCellDiv(addMenuCell);
                        document.body.appendChild(bodyMoveDiv);
                    }
                    bodyMoveDiv.style.left = (event.clientX - addMenuCell.width / 2) + 'px';
                    bodyMoveDiv.style.top = (event.clientY - addMenuCell.height / 2) + 'px';
                }
            } catch (e) {
                console.log(e);
            }
        }).on('mouseleave', function (event) {
            if (bodyMoveDiv) {
                document.body.removeChild(bodyMoveDiv);
                bodyMoveDiv = null;
            }
            if (addMenuCell) {
                addMenuCell = null;
            }
        }).on('mouseup', function (event) {
            var flyscreen = $('.flyscreen').get(0);
            if (flyscreen) {
                var left = flyscreen.offsetLeft;
                var top = flyscreen.offsetTop;
                var width = flyscreen.offsetWidth;
                var height = flyscreen.offsetHeight;

                if (event.clientX >= left && event.clientX <= (width + left) && event.clientY >= top && event.clientY <= (height + top)) {
                    if (addMenuCell) {
                        var x = event.clientX - addMenuCell.width / 2 - left + flyscreen.scrollLeft;
                        var y = event.clientY - addMenuCell.height / 2 - top + flyscreen.scrollTop;
                        addMenuCell.x = x;
                        addMenuCell.y = y;
                        addMenuCell.imgUrl = addMenuCell.imageurl1;
                        var num = screenCellArr.length;
                        screenCellArr[num] = addMenuCell;
                        flyscreen.append(createScreenCellDiv(screenCellArr[num], num));
                    }
                }
            }
            if (bodyMoveDiv) {
                bodyMoveDiv.remove()
                bodyMoveDiv = null;
            }
            if (addMenuCell) {
                addMenuCell = null;
            }
        });

    }

    function flyscreenClassEventInit() {
        var flyscreen = $('.flyscreen');
        if (flyscreen) {
            flyscreen.on('mousemove', function (event) {
                var x = event.clientX;
                var y = event.clientY;
                if (screenMoveCell) {
                    x = x - screenMoveDivPoint.x;
                    y = y - screenMoveDivPoint.y;
                    screenMoveCell.x = x;
                    screenMoveCell.y = y;
                    screenMoveDiv.style.left = x + 'px';
                    screenMoveDiv.style.top = y + 'px';
                    if(SHOW_POSITION){
                        screenMoveDiv.lastChild.innerHTML = x + "X" + y;
                    }
                } else {
                    x = x - $(this).offset().left;
                    y = y - $(this).offset().top;
                }
                showMSG(x, y);
            }).on('mouseup', function (event) {
                if (screenMoveDiv) {
                    screenMoveDiv = null;
                }
                if (screenMoveCell) {
                    screenMoveCell = null;
                }
            });
        }
    }

    function refreshPagecell() {
        upScreenCell(pageId);
    }

    function savePagecell() {
        var pageCellArr = [];
        for (var i = 0; i < screenCellArr.length; i++) {
            pageCellArr[i] = {};
            pageCellArr[i].cellId = screenCellArr[i].cellId;
            pageCellArr[i].width = screenCellArr[i].width;
            pageCellArr[i].height = screenCellArr[i].height;
            pageCellArr[i].x = screenCellArr[i].x;
            pageCellArr[i].y = screenCellArr[i].y;
        }
        var celljson = JSON.stringify(pageCellArr);
        $.ajax({
            url: pagecellurl,
            type: "POST",
            data: "jsondata=" + celljson + "&pageId=" + pageId,
            dataType: 'html',
            error: function (request) {
                alert("向服务器提交页面数据更新失败!");
            },
            success: function (result) {
            }
        });
    }

    +$(function () {
        documentEventInit();
        flyscreenClassEventInit();
    });

    $('#showdel').change(function () {
        SHOW_DEL = $(this).prop('checked');
        refreshPagecell();
    });
    $('#showposition').change(function () {
        SHOW_POSITION = $(this).prop('checked');
        refreshPagecell();
    });
</script>
</html>

