<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垂直导航菜单</title>
    <link rel="stylesheet" type="text/css" href="./css/navigation.css">
    <script type="text/javascript" src="./js/navigation.js"></script>
</head>
<body onselectstart="return false">
<div class="menu" id="menu">
    <div>
        <p>Web前端</p>
        <ul>
            <li><a href="http://www.baidu.com" target="ifmanme">百度</a></li>
            <li>DIV+CSS</li>
            <li>jQuery</li>
        </ul>
    </div>
    <div>
        <p>后台脚本</p>
        <ul>
            <li>PHP</li>
            <li>ASP.net</li>
            <li>JSP</li>
        </ul>
    </div>
    <div>
        <p>前端框架</p>
        <ul>
            <li>Extjs</li>
            <li>Esspress</li>
            <li>YUI</li>
        </ul>
    </div>
</div>
</body>
</html>
