<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <link rel="stylesheet" type="text/css" href="_CSS_/screen.css">
    <link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css">
    <script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        var testurl = "{:url('/api/test')}";
        var cellurl = "{:url('/api/cell')}";
        var tablecellurl = "{:url('/api/tablecell')}";
        var tableId = "{$tableId}";
    </script>
    <script type="text/javascript" src="_JS_/screen.js"></script>
    <script type="text/javascript" src="_JS_/bootstrap.js"></script>
</head>
<body>
<div class="flycenter">
    <div style="text-align: left;">
        <select id="sel" style="width: 200px">
            {volist name="list" id="table" key="k"}
            <option value="{$table.tableId}">{$table.tablename}</option>
            {/volist}
        </select>
        <button style="width: 200px" type="button" onclick="upTableData()" class="btn btn-primary">保存数据</button>
    </div>
    <div class="flyscreen"></div>
    <div class="flycellmenu"></div>
    <div class="flyscreenmsg"></div>
</div>
</body>
<script type="text/javascript">
    tableId = $('#sel').val();
    getScreenCell(tableId);
    $('#sel').change(function () {
        tableId = $('#sel').val();
        getScreenCell(tableId);
    });
</script>
</html>

