<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/admin/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"
      action="{:url('/api/cell')}" enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title">添加控件</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">控件类型</label>
            <div class="col-sm-4">
                <h4 class="modal-title">
                    <select id="celltypeId" name="celltypeId">
                        {volist name="list1" id="celltype" key="k"}
                        <option value="{$celltype.celltypeId}">{$celltype.celltypeName}</option>
                        {/volist}
                    </select>
                </h4>
            </div>
            <label class="col-sm-1 control-label">项目关联</label>
            <div class="col-sm-4">
                <h4 class="modal-title">
                    <select id="themeName" name="themeName">
                        <option value="" selected="selected">所有项目</option>
                        {volist name="list2" id="theme" key="k"}
                        <option value="{$theme.themeId}">{$theme.themeName}</option>
                        {/volist}
                    </select>
                </h4>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp一</label>
            <div class="col-sm-4">
                <input type="file" id="imageinput1" name="imagefile">
                <input type="hidden" id="imageurl1" name="imageurl1" value="">
            </div>
            <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp二</label>
            <div class="col-sm-4">
                <input type="file" id="imageinput2" name="imagefile">
                <input type="hidden" id="imageurl2" name="imageurl2" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">图片尺寸</label>
            <div class="col-sm-1">
                <input id="width" name="width" type="text" class="form-control" value="" placeholder="宽度(像素)">
            </div>
            <div class="col-sm-1">
                <input id="height" name="height" type="text" class="form-control" value="" placeholder="高度(像素)">
            </div>
            <div class="col-sm-2"></div>
            <label class="col-sm-1 control-label">图片尺寸</label>
            <div class="col-sm-1">
                <input id="width2" type="text" class="form-control" value="" placeholder="宽度(像素)">
            </div>
            <div class="col-sm-1">
                <input id="height2" type="text" class="form-control" value="" placeholder="高度(像素)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文本内容</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="textTitle" id="textTitle" value="" placeholder="文字显示">
            </div>
            <label class="col-sm-1 control-label">文本字体</label>
            <div class="col-sm-1">
                <input id="textSize" class="form-control" name="textSize" type="text" value="" placeholder="字体大小">
            </div>
            <div class="col-sm-1">
                <input id="textColor" class="form-control" name="textColor" type="text" value="" placeholder="字体颜色">
            </div>
            <div class="col-sm-2">
                <input id="textFont" class="form-control" name="textFont" type="text" value="" placeholder="字体样式">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文本位置</label>
            <div class="col-sm-1">
                <input id="textLeft" class="form-control" name="textLeft" type="text" value="" placeholder="LEFT">
            </div>
            <div class="col-sm-1">
                <input id="textTop" class="form-control" name="textTop" type="text" value="" placeholder="TOP">
            </div>
            <div class="col-sm-1">
                <input id="textRight" class="form-control" name="textRight" type="text" value="" placeholder="RIGHT">
            </div>
            <div class="col-sm-1">
                <input id="textBottom" class="form-control" name="textBottom" type="text" value="" placeholder="BOTTOM">
            </div>
            <div class="col-sm-1">
                <input id="textAlign" class="form-control" name="textAlign" type="text" value="" placeholder="ALIGN">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">启动事件</label>
            <div class="col-sm-2">
                <input id="packName" class="form-control" name="packName" type="text" value="" placeholder="包名">
            </div>
            <div class="col-sm-2">
                <input id="className" class="form-control" name="className" type="text" value="" placeholder="类名">
            </div>
            <div class="col-sm-1">
                <input id="intentFlag" class="form-control" name="intentFlag" type="text" value=""
                       placeholder="Intent Flag">
            </div>
            <div class="col-sm-2">
                <input id="action" class="form-control" name="action" type="text" value="" placeholder="ACTION">
            </div>
            <div class="col-sm-2">
                <input id="flyAction" class="form-control" name="flyAction" type="text" value="" placeholder="自定义">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">备注</label>
            <div class="col-sm-9">
                            <textarea class="form-control" name="remark" value="" id="remark"
                                      placeholder="备注"></textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="userid" id="userid" value="{$Think.session.user_id}">
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    function postform() {
        if($('#textSize').val()==null||$('#textSize').val()==0){
            $('#textSize').val(24);
        }
        $.ajax({
            type: "POST",
            url: "{:url('/api/cell')}",
            data: $('#celltypeform').serialize(),
            error: function (request) {
                alert("向服务器提交数据失败了!\n" +
                    "可能的错误原因：\n" +
                    "1.重复的类型名称;\n" +
                    "2.网络错误。");
            },
            success: function (data) {
                window.location.href = "{:url('/flyui/cell')}";
            }
        });
    }


    $('#imageinput1').flyinput({
        url: "{:url('/api/imagefile')}",
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px",
        background: "#101010"
    }).bind("success", function (e, data) {
        var retmsg = JSON.parse(data);
        $('#imageurl1').val(retmsg.data.saveName);
        $('#width').val(retmsg.data.width);
        $('#height').val(retmsg.data.height);
        // alert("width="+retmsg.data.width);
    });

    $('#imageinput2').flyinput({
        url: "{:url('/api/imagefile')}",
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px",
        background: "#101010"
    }).bind("success", function (e, data) {
        var retmsg = JSON.parse(data);
        $('#imageurl2').val(retmsg.data.saveName);
        $('#width2').val(retmsg.data.width);
        $('#height2').val(retmsg.data.height);
    });

    function onCancel() {
        window.location.href = "{:url('/flyui/cell')}";
    }

</script>

