<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/flyui/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"
      action="{:url('/admin/test')}" enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">修改组件&nbsp</h4>
    </div>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">主组件</a></li>
        {volist name="list2" id="subcell" key="n"}
        <li id="sub_{$n}_tab"><a href="#sub_{$n}_" data-toggle="tab">子组件</a></li>
        {/volist}
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="modal-body">
                <button type="button" style="width:40px;height:40px;position: absolute;top:10px;right: 10px;font-size: 24px;" onclick="addSub()">+</button>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件类型</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select id="celltypeId" name="celltypeId">
                                {volist name="list1" id="celltype" key="k"}
                                {if condition="$item['celltypeId'] eq $celltype['celltypeId']"}
                                <option value="{$celltype.celltypeId}" selected="selected">{$celltype.celltypeName}
                                </option>
                                {else /}
                                <option value="{$celltype.celltypeId}">{$celltype.celltypeName}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                    <label class="col-sm-1 control-label">控&nbsp&nbsp件&nbsp&nbspID</label>
                    <div class="col-sm-4">
                        <input id="resId" class="form-control" name="resId" type="text" value="{$item.resId}" placeholder="组件ID，可以在Activity中引用">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp一</label>
                    <div class="col-sm-4">
                        <input type="file" accept="image/*" id="imageinput1" name="imagefile">
                        <input type="hidden" id="imageurl1" name="imageurl1" value="{$item.imageurl1}">
                    </div>
                    <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp二</label>
                    <div class="col-sm-4">
                        <input type="file" accept="image/*" id="imageinput2" name="imagefile">
                        <input type="hidden" id="imageurl2" name="imageurl2" value="{$item.imageurl2}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件大小</label>
                    <div class="col-sm-2">
                        <input id="width" name="width" type="text" class="form-control" value="{$item.width}" placeholder="宽度(像素)">
                    </div>
                    <div class="col-sm-2">
                        <input id="height" name="height" type="text" class="form-control" value="{$item.height}" placeholder="高度(像素)">
                    </div>
                    <label class="col-sm-1 control-label">背景颜色</label>
                    <div class="col-sm-4">
                        <input id="backcolor" name="backcolor" type="text" class="form-control" value="{$item.backcolor}" placeholder="设置了图片的情况下无效（设置格式为#FFFFFFFF）">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">文本内容</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="textTitle" id="textTitle" value="{$item.textTitle}" placeholder="文字显示">
                    </div>
                    <label class="col-sm-1 control-label">文本字体</label>
                    <div class="col-sm-1">
                        <input id="textSize" class="form-control" name="textSize" type="text" value="{$item.textSize}" placeholder="字体大小">
                    </div>
                    <div class="col-sm-1">
                        <input id="textColor" class="form-control" name="textColor" type="text" value="{$item.textColor}" placeholder="字体颜色">
                    </div>
                    <div class="col-sm-2">
                        <input id="textFont" class="form-control" name="textFont" type="text" value="{$item.textFont}" placeholder="字体样式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">文本位置</label>
                    <div class="col-sm-1">
                        <input id="mLeft" class="form-control" name="mLeft" type="text" value="{$item.mLeft}" placeholder="LEFT">
                    </div>
                    <div class="col-sm-1">
                        <input id="mTop" class="form-control" name="mTop" type="text" value="{$item.mTop}" placeholder="TOP">
                    </div>
                    <div class="col-sm-1">
                        <input id="mRight" class="form-control" name="mRight" type="text" value="{$item.mRight}" placeholder="RIGHT">
                    </div>
                    <div class="col-sm-1">
                        <input id="mBottom" class="form-control" name="mBottom" type="text" value="{$item.mBottom}" placeholder="BOTTOM">
                    </div>
                    <div class="col-sm-1">
                        <input id="textLine" class="form-control" name="textLine" type="text" value="{$item.textLine}" placeholder="文本行数">
                    </div>
                    <div class="col-sm-1">
                        <select style="width:99%;height: 34px;font-size: 16px" id="gravity" name="gravity">
                            {volist name="gravitys" id="gravity" key="g"}
                            {if condition="$item['gravity'] eq $gravity['value']"}
                            <option value="{$gravity.value}" selected="selected">{$gravity.tag}</option>
                            {else /}
                            <option value="{$gravity.value}">{$gravity.tag}</option>
                            {/if}
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">发送事件</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select style="width:99%;height: 34px;font-size: 16px" id="sendAction" name="sendAction">
                                <option value="0"></option>
                                {volist name="actions" id="action" key="a"}
                                {if condition="$item['sendAction'] eq $action['value']"}
                                <option value="{$action.value}" selected="selected">{$action.tag}</option>
                                {else /}
                                <option value="{$action.value}">{$action.tag}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                    <label class="col-sm-1 control-label">处理事件</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select style="width:99%;height: 34px;font-size: 16px" id="recvAction" name="recvAction">
                                <option value="0"></option>
                                {volist name="actions" id="action" key="a"}
                                {if condition="$item['recvAction'] eq $action['value']"}
                                <option value="{$action.value}" selected="selected">{$action.tag}</option>
                                {else /}
                                <option value="{$action.value}">{$action.tag}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件事件</label>
                    <div class="col-sm-8">
                        <input id="clickevent" class="form-control" name="clickevent" type="text" value="{$item.clickevent}" placeholder="例如：activity=AAAA||service=BBBB">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default" onclick="createEventDialog('event')">生成事件辅助</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">备注</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="remark" value="{$item.remark}" id="remark" placeholder="备注">{$item.remark}</textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" name="cellId" id="cellId" value="{$item.cellId}">
        </div>
        {volist name="list2" id="subcell" key="n"}
        <div class="tab-pane fade" id="sub_{$n}_">
            <div class="modal-body">
                <input type="hidden" name="subcell[]" value="sub_{$n}_">
                <button type="button" style="width:40px;height:40px;position: absolute;top:10px;right: 10px;font-size: 24px;" onclick="addSub()">+</button>
                <button id="delsub_{$n}_" onclick="delSub('{$n}')" type="button" style="width:40px;height:40px;position: absolute;top:10px;right: 50px;font-size: 24px;">-</button>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件类型</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select name="sub_{$n}_celltypeId">
                                {volist name="list1" id="celltype" key="k"}
                                {if condition="$subcell['celltypeId'] eq $celltype['celltypeId']"}
                                <option value="{$celltype.celltypeId}" selected="selected">{$celltype.celltypeName}
                                </option>
                                {else /}
                                <option value="{$celltype.celltypeId}">{$celltype.celltypeName}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                    <label class="col-sm-1 control-label">控&nbsp&nbsp件&nbsp&nbspID</label>
                    <div class="col-sm-4">
                        <input id="sub_{$n}_resId" class="form-control" name="sub_{$n}_resId" type="text" value="{$subcell.resId}" placeholder="组件ID，可以在Activity中引用">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp一</label>
                    <div class="col-sm-4">
                        <input type="file" accept="image/*" id="sub_{$n}_imageinput1" name="imagefile">
                        <input type="hidden" id="sub_{$n}_imageurl1" name="sub_{$n}_imageurl1" value="{$subcell.imageurl1}">
                    </div>
                    <label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp二</label>
                    <div class="col-sm-4">
                        <input type="file" accept="image/*" id="sub_{$n}_imageinput2" name="imagefile">
                        <input type="hidden" id="sub_{$n}_imageurl2" name="sub_{$n}_imageurl2" value="{$subcell.imageurl2}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件大小</label>
                    <div class="col-sm-2">
                        <input id="sub_{$n}_width" name="sub_{$n}_width" type="text" class="form-control" value="{$subcell.width}" placeholder="宽度(像素)">
                    </div>
                    <div class="col-sm-2">
                        <input id="sub_{$n}_height" name="sub_{$n}_height" type="text" class="form-control" value="{$subcell.height}" placeholder="高度(像素)">
                    </div>
                    <label class="col-sm-1 control-label">背景颜色</label>
                    <div class="col-sm-4">
                        <input id="sub_{$n}_backcolor" name="sub_{$n}_backcolor" type="text" class="form-control" value="{$subcell.backcolor}" placeholder="设置了图片的情况下无效（设置格式为#FFFFFFFF）">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">文本内容</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="sub_{$n}_textTitle" id="sub_{$n}_textTitle" value="{$subcell.textTitle}" placeholder="文字显示">
                    </div>
                    <label class="col-sm-1 control-label">文本字体</label>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_textSize" class="form-control" name="sub_{$n}_textSize" type="text" value="{$subcell.textSize}" placeholder="字体大小">
                    </div>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_textColor" class="form-control" name="sub_{$n}_textColor" type="text" value="{$subcell.textColor}" placeholder="字体颜色">
                    </div>
                    <div class="col-sm-2">
                        <input id="sub_{$n}_textFont" class="form-control" name="sub_{$n}_textFont" type="text" value="{$subcell.textFont}" placeholder="字体样式">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">文本位置</label>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_mLeft" class="form-control" name="sub_{$n}_mLeft" type="text" value="{$subcell.mLeft}" placeholder="LEFT">
                    </div>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_mTop" class="form-control" name="sub_{$n}_mTop" type="text" value="{$subcell.mTop}" placeholder="TOP">
                    </div>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_mRight" class="form-control" name="sub_{$n}_mRight" type="text" value="{$subcell.mRight}" placeholder="RIGHT">
                    </div>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_mBottom" class="form-control" name="sub_{$n}_mBottom" type="text" value="{$subcell.mBottom}" placeholder="BOTTOM">
                    </div>
                    <div class="col-sm-1">
                        <input id="sub_{$n}_textLine" class="form-control" name="sub_{$n}_textLine" type="text" value="{$item.textLine}" placeholder="文本行数">
                    </div>
                    <div class="col-sm-1">
                        <select style="width:99%;height: 34px;font-size: 16px" id="sub_{$n}_gravity" name="sub_{$n}_gravity">
                            {volist name="gravitys" id="gravity" key="g"}
                            {if condition="$subcell['gravity'] eq $gravity['value']"}
                            <option value="{$gravity.value}" selected="selected">{$gravity.tag}</option>
                            {else /}
                            <option value="{$gravity.value}">{$gravity.tag}</option>
                            {/if}
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">发送事件</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select style="width:99%;height: 34px;font-size: 16px" id="sub_{$n}_sendAction" name="sub_{$n}_sendAction">
                                <option value="0"></option>
                                {volist name="actions" id="action" key="a"}
                                {if condition="$subcell['sendAction'] eq $action['value']"}
                                <option value="{$action.value}" selected="selected">{$action.tag}</option>
                                {else /}
                                <option value="{$action.value}">{$action.tag}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                    <label class="col-sm-1 control-label">处理事件</label>
                    <div class="col-sm-4">
                        <h4 class="modal-title">
                            <select style="width:99%;height: 34px;font-size: 16px" id="sub_{$n}_recvAction" name="sub_{$n}_recvAction">
                                <option value="0"></option>
                                {volist name="actions" id="action" key="z"}
                                {if condition="$subcell['recvAction'] eq $action['value']"}
                                <option value="{$action.value}" selected="selected">{$action.tag}</option>
                                {else /}
                                <option value="{$action.value}">{$action.tag}</option>
                                {/if}
                                {/volist}
                            </select>
                        </h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">组件事件</label>
                    <div class="col-sm-8">
                        <input id="sub_{$n}_clickevent" class="form-control" name="sub_{$n}_clickevent" type="text" value="{$subcell.clickevent}" placeholder="例如：activity=AAAA||service=BBBB">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default" onclick="createEventDialog('sub_{$n}_event')">生成事件辅助</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">备注</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="sub_{$n}_remark" value="" id="sub_{$n}_remark" placeholder="备注">{$subcell.remark}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var subcellnum = {$subnum} + 1;

    function postform() {
        $.ajax({
            type: "PUT",
            url: "{:url('/api/cell')}",
            data: $('#celltypeform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    function flyinput1(name) {
        var url = $('#' + name + 'imageurl1').val();
        $('#' + name + 'imageinput1').flyinput({
            url: "{:url('/api/imagefile')}",
            autoup: true,
            showPreview: true,
            image: url,
            width: "100%",
            height: "240px"
        }).bind("success", function (e, data) {
            var retmsg = JSON.parse(data);
            $('#' + name + 'imageurl1').val(retmsg.data.saveName);
            $('#' + name + 'width').val(retmsg.data.width);
            $('#' + name + 'height').val(retmsg.data.height);
        }).bind("del", function (e) {
            $('#' + name + 'imageurl1').val("");
        });
    }

    function flyinput2(name) {
        var url = $('#' + name + 'imageurl2').val();
        $('#' + name + 'imageinput2').flyinput({
            url: "{:url('/api/imagefile')}",
            autoup: true,
            showPreview: true,
            image: url,
            width: "100%",
            height: "240px"
        }).bind("success", function (e, data) {
            var retmsg = JSON.parse(data);
            $('#' + name + 'imageurl2').val(retmsg.data.saveName);
        }).bind("del", function (e) {
            $('#' + name + 'imageurl2').val("");
        });
    }

    flyinput1('');
    flyinput2('');
    $('#myTabContent').css('height', $('#myTabContent').height() + 'px');

    for (var i = 1; i < subcellnum; i++) {
        flyinput1('sub_' + i + '_');
        flyinput2('sub_' + i + '_');
    }

    function onCancel() {
        window.history.back();
    }

    function createTabContent(name) {
        var tab = $(" <li ><a href=\"#" + name + "\" data-toggle=\"tab\">子组件</a></li>");
        var tabContent = $('<div class="tab-pane fade" id="' + name + '">\n' +
            '<div class="modal-body">\n' +
            '<input type="hidden" name="subcell[]" value="' + name + '">\n' +
            '<button type="button" style="width:40px;height:40px;position: absolute;top:10px;right: 10px;font-size: 24px;" onclick="addSub()">+</button>' +
            '<button id="del' + name + '" type="button" style="width:40px;height:40px;position: absolute;top:10px;right: 50px;font-size: 24px;">-</button>' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">组件类型</label>\n' +
            '<div class="col-sm-4">\n' +
            '<h4 class="modal-title">\n' +
            '<select name="' + name + 'celltypeId">\n' +
            '{volist name="list1" id="celltype" key="k"}\n' +
            '<option value="{$celltype.celltypeId}">{$celltype.celltypeName}</option>\n' +
            '{/volist}\n' +
            '</select>\n' +
            '</h4>\n' +
            '</div>\n' +
            '<label class="col-sm-1 control-label">控&nbsp&nbsp件&nbsp&nbspID</label>\n' +
            '<div class="col-sm-4">\n' +
            '<input id="' + name + 'resId" class="form-control" name="' + name + 'resId" type="text" value="" placeholder="组件ID，可以在Activity中引用">\n' +
            '</div>\n' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp一</label>\n' +
            '<div class="col-sm-4">\n' +
            '<input type="file" accept="image/*" id="' + name + 'imageinput1" name="imagefile">\n' +
            '<input type="hidden" id="' + name + 'imageurl1" name="' + name + 'imageurl1" value="">\n' +
            '</div>\n' +
            '<label class="col-sm-1 control-label">图&nbsp&nbsp片&nbsp&nbsp二</label>\n' +
            '<div class="col-sm-4">\n' +
            '<input type="file" accept="image/*" id="' + name + 'imageinput2" name="imagefile">\n' +
            '<input type="hidden" id="' + name + 'imageurl2" name="' + name + 'imageurl2" value="">\n' +
            '</div>\n' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">组件大小</label>\n' +
            '<div class="col-sm-2">\n' +
            '<input id="' + name + 'width" name="' + name + 'width" type="text" class="form-control" value="" placeholder="宽度(像素)">\n' +
            '</div>\n' +
            '<div class="col-sm-2">\n' +
            '<input id="' + name + 'height" name="' + name + 'height" type="text" class="form-control" value="" placeholder="高度(像素)">\n' +
            '</div>\n' +
            '<label class="col-sm-1 control-label">背景颜色</label>\n' +
            '<div class="col-sm-4">\n' +
            '<input id="' + name + 'backcolor" name="' + name + 'backcolor" type="text" class="form-control" value="{$item.backcolor}" placeholder="格式：#FFFFFFFF）">\n' +
            '</div>' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">文本内容</label>\n' +
            '<div class="col-sm-4">\n' +
            '<input type="text" class="form-control" name="' + name + 'textTitle" id="' + name + 'textTitle" value="" placeholder="文字显示">\n' +
            '</div>\n' +
            '<label class="col-sm-1 control-label">文本字体</label>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'textSize" class="form-control" name="' + name + 'textSize" type="text" value="" placeholder="字体大小">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'textColor" class="form-control" name="' + name + 'textColor" type="text" value="" placeholder="字体颜色">\n' +
            '</div>\n' +
            '<div class="col-sm-2">\n' +
            '<input id="' + name + 'textFont" class="form-control" name="' + name + 'textFont" type="text" value="" placeholder="字体样式">\n' +
            '</div>\n' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">文本位置</label>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'mLeft" class="form-control" name="' + name + 'mLeft" type="text" value="" placeholder="LEFT">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'mTop" class="form-control" name="' + name + 'mTop" type="text" value="" placeholder="TOP">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'mRight" class="form-control" name="' + name + 'mRight" type="text" value="" placeholder="RIGHT">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'mBottom" class="form-control" name="' + name + 'mBottom" type="text" value="" placeholder="BOTTOM">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            '<input id="' + name + 'textLine" class="form-control" name="' + name + 'textLine" type="text" value="" placeholder="文本行数">\n' +
            '</div>' +
            '<div class="col-sm-1">\n' +
            '<select style="width:99%;height: 34px;font-size: 16px" id="' + name + 'gravity" name="' + name + 'gravity" >\n' +
            '{volist name="gravitys" id="gravity" key="x"}\n' +
            '<option value="{$gravity.value}">{$gravity.tag}</option>\n' +
            '{/volist}\n' +
            '</select>\n' +
            '</div>\n' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">发送事件</label>\n' +
            '<div class="col-sm-4">\n' +
            '<h4 class="modal-title">\n' +
            '<select style="width:99%;height: 34px;font-size: 16px" id="' + name + 'sendAction" name="' + name + 'sendAction">\n' +
            '<option value="0"></option>\n' +
            '{volist name="actions" id="action" key="n"}\n' +
            '<option value="{$action.value}">{$action.tag}</option>\n' +
            '{/volist}\n' +
            '</select>\n' +
            '</h4>\n' +
            '</div>\n' +
            '<label class="col-sm-1 control-label">处理事件</label>\n' +
            '<div class="col-sm-4">\n' +
            '<h4 class="modal-title">\n' +
            '<select style="width:99%;height: 34px;font-size: 16px" id="' + name + 'recvAction" name="' + name + 'recvAction">\n' +
            '<option value="0"></option>\n' +
            '{volist name="actions" id="action" key="n"}\n' +
            '<option value="{$action.value}">{$action.tag}</option>\n' +
            '{/volist}\n' +
            '</select>\n' +
            '</h4>\n' +
            '</div>\n' +
            '</div>' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">组件事件</label>\n' +
            '<div class="col-sm-8">\n' +
            '<input id="' + name + 'clickevent" class="form-control" name="' + name + 'clickevent" type="text" value="" placeholder="例如：activity=AAAA||service=BBBB">\n' +
            '</div>\n' +
            '<div class="col-sm-1">\n' +
            ' <button type="button" class="btn btn-default" onclick="createEventDialog(\'' + name + 'event\')">生成事件辅助</button>\n' +
            '</div>\n' +
            '</div>\n' +
            '<div class="form-group">\n' +
            '<label class="col-sm-1 control-label">备注</label>\n' +
            '<div class="col-sm-9">\n' +
            '<textarea class="form-control" name="' + name + 'remark" value="" id="' + name + 'remark" placeholder="备注"></textarea>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>');
        $('#myTab').get(0).append(tab.get(0));
        $('#myTabContent').get(0).append(tabContent.get(0));
        $('#myTab a:last').click();
        flyinput1('sub_' + subcellnum + '_');
        flyinput2('sub_' + subcellnum + '_');
        $('#del' + 'sub_' + subcellnum + '_').on("click", function (event) {
            $('#myTab').get(0).removeChild(tab.get(0));
            $('#myTab a:last').click();
            $('#myTabContent').get(0).removeChild(tabContent.get(0));
        });
    }

    function addSub() {
        createTabContent('sub_' + subcellnum + '_');
        subcellnum = subcellnum + 1;
    }

    function delSub(num) {
        $('#myTab').get(0).removeChild($('#sub_' + num + "_tab").get(0));
        $('#myTab a:last').click();
        $('#myTabContent').get(0).removeChild($('#sub_' + num + "_").get(0));
    }

    function createEventDialog(eventtext) {
        alert(eventtext);
    }
</script>

