<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面编辑</title>
</head>
<link rel="stylesheet" type="text/css" href="__RES__/admin/css/bootstrap.css">
<script type="text/javascript" src="__RES__/admin/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/admin/js/bootstrap.js"></script>
<style type="text/css">
    body {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    a:link {
        color: #0000ff;
        text-decoration: none;
    }

    a:visited {
        color: #0000ff;
        text-decoration: none;
    }

    a:hover, a:active, a:focus {
        color: #999999;
        text-decoration: none;
    }

    .flycenter {
        margin: 0 auto;
        width: 1580px;
        background: lightsteelblue;
    }

    .flyscreen {
        position: relative;
        float: left;
        width: 1280px;
        height: 720px;
        overflow: auto;
        border: solid;
        box-sizing: border-box;
        border-width: 1px;
        border-color: #000000;
        background: #1b6d85;
    }

    .flyscreenmsg {
        text-align: right;
        position: absolute;
        height: 30px;
        width: 1280px;
        font-size: 24px;
        color: #FF00FF;
    }

    .flycellmenu {
        position: relative;
        float: left;
        width: 380px;
        height: 720px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: solid;
        box-sizing: border-box;
        border-width: 1px;
        border-color: #000000;
        background: #009688;
    }
</style>
<body>
<div class="flycenter">
    <div style="text-align: left;">
        <select id="sel" style="width: 200px">
            {volist name="list" id="page" key="k"}
            {if condition="$item['pageId'] eq $page['pageId']"}
            <option value="{$page.pageId}" selected="selected">{$page.pageName}</option>
            {else /}
            <option value="{$page.pageId}">{$page.pageName}</option>
            {/if}
            {/volist}
        </select>
        <button style="width: 200px" type="button" onclick="upTableData()" class="btn btn-primary">保存数据</button>
    </div>
    <div class="flyscreen"></div>
    <div class="flycellmenu"></div>
    <div class="flyscreenmsg"></div>
</div>
</body>
<script type="text/javascript">
    var cellurl = "{:url('/api/cell')}";
    var pagecellurl = "{:url('/api/pagecell')}";

    //定义全局变量
    var screenCellArr = [];
    var menuCellArr = [];
    var screenMoveDiv = null;
    var screenMoveDivPoint = {};
    var screenMoveCell = null;
    var bodyMoveDiv = null;
    var addMenuCell = null;
    var MENUCELL_WIDTH = "180px";
    var MENUCELL_HEIGHT = "180px";

    var flycenterwidth = trimPX("{$item.width}px")+380;

    $('.flycenter').css('width', flycenterwidth+'px');
    $('.flyscreen').css('width', '{$item.width}px');
    $('.flyscreen').css('height','{$item.height}px');
    $('.flyscreenmsg').css('width','{$item.width}px');
    $('.flycellmenu').css('width','380px');
    $('.flycellmenu').css('height','{$item.height}px');

    /**
     * 将以"px"字符串结尾的字符串转换成int整数
     * @param _px 以"px"结尾的字符串
     * @returns 去掉"px"后转换的int整数
     */
    function trimPX(_px) {
        if (_px === null || _px === "")
            return 0;
        return parseInt(_px.substr(0, _px.lastIndexOf("px")));
    }

    //获取鼠标点击区域在Html绝对位置坐标
    function mouseCoords(event) {
        if (event.pageX || event.pageY) {
            return {x: event.pageX, y: event.pageY};
        }
        return {
            x: event.clientX + document.body.scrollLeft - document.body.clientLeft,
            y: event.clientY + document.body.scrollTop - document.body.clientTop
        };
    }


    function showMSG(message) {
        var flyscreenmsg = $('.flyscreenmsg').get(0);
        if (flyscreenmsg) {
            flyscreenmsg.innerHTML = message;
        }
    }

    /**
     * @param cell
     * @returns {*|jQuery|HTMLElement}
     */
    function cellScreenDiv(cell,num) {
        var div = $('<div></div>');
        div.css('position', 'absolute');
        div.css('width', cell.width + 'px');
        div.css('height', cell.height + 'px');
        div.css('left', cell.x  + 'px');
        div.css('top', cell.y  + 'px');
        div.css('background', '#efefff');
        switch (cell.type) {
            case 11:
                break;
            default:
                //图像
                var image = $('<img>');
                image.css('position', 'absolute');
                image.css('width', cell.width  + 'px');
                image.css('height', cell.height  + 'px');
                image.css('left', 0 + 'px');
                image.css('top', 0 + 'px');
                image.attr('src', cell.imageurl1);
                image.attr('ondragstart', 'return false;');
                div.get(0).append(image.get(0));
                //文字
                var text = $('<div></div>');
                text.css('position', 'absolute');
                text.css('text-align', 'center');
                text.css('width', cell.width  + 'px');
                text.css('font-size', cell.textSize+'px');
                text.css('color', cell.textColor);
                text.css('top', (cell.height  - 48) + 'px');
                text.get(0).innerHTML = cell.textTitle;
                // try {
                //     var data = JSON.parse(cell.text);
                //     var content = data.CN;
                //     if (content) {
                //         content = content.replace('\n', '<br/>');
                //     }
                //     text.get(0).innerHTML = cell.text;
                // } catch (e) {
                //     text.get(0).innerHTML = '';
                //     console.log(e);
                // }
                div.get(0).append(text.get(0));
                //删除按钮
                var del =  $('<div>X</div>');
                del.css('position', 'absolute');
                del.css('left', (cell.width -22)+'px');
                del.css('top', '2px');
                del.css('width', '20px');
                del.css('height', '20px');
                del.css('background','#FAF000');

                del.on("click",function (event) {
                    $('.flyscreen').get(0).removeChild(div.get(0));
                    screenCellArr.splice(num,1);
                });
                div.get(0).append(del.get(0));
                break;
        }
        div.on('mousedown', function (event) {
            Ev = event || window.event;
            //鼠标点击的绝对位置
            var mousePos = mouseCoords(event);
            var x = mousePos.x;
            var y = mousePos.y;
            //获取div在body中的绝对位置
            var x1 = this.offsetLeft;
            var y1 = this.offsetTop;
            //鼠标点击位置相对于div的坐标
            var x2 = x - x1;
            var y2 = y - y1;
            if (addMenuCell === null) {
                screenMoveCell = cell;
                screenMoveDiv = div.get(0);
                screenMoveDivPoint.x = x2;
                screenMoveDivPoint.y = y2;
            }
        });
        return div.get(0);
    }

    /**
     * @param cell
     * @returns {*|jQuery|HTMLElement}
     */
    function cellMenuDiv(cell) {
        var div = $('<div></div>');
        div.css('position', 'relative');
        div.css('float', 'left');
        div.css('text-align', 'center');
        div.css('width', MENUCELL_WIDTH);
        div.css('height', MENUCELL_HEIGHT);
        div.css('border', 'solid');
        div.css('border-width', '1px');
        div.css('border-color', '#707F00');
        switch (cell.type) {
            case 11:
                break;
            default:
                //图像
                var image = $('<img>');
                image.css('position', 'absolute');
                image.attr('src', cell.imageurl1);
                if (cell.width > cell.height) {
                    image.attr('width', MENUCELL_WIDTH);
                    image.attr('height', 'auto');
                    image.css('left','0px');
                    image.css('top', (cell.width-cell.height)*trimPX(MENUCELL_WIDTH)/cell.width/2 + 'px');
                } else {
                    image.attr('width', 'auto');
                    image.attr('height',MENUCELL_HEIGHT);
                    image.css('left', (cell.height-cell.width)*trimPX(MENUCELL_HEIGHT)/cell.height/2 + 'px');
                    image.css('top','0px')
                }
                image.attr('ondragstart', 'return false;');
                div.get(0).append(image.get(0));
                //文字
                var text = $('<div></div>');
                text.css('position', 'absolute');
                text.css('text-align', 'center');
                text.css('width', MENUCELL_WIDTH);
                text.css('top',(trimPX(MENUCELL_HEIGHT)-40)+'px')
                text.css('font-size', '20px');
                text.css('color','#000000');
                // text.css('top', (MENUCELL_HEIGHT  - 48) + 'px');
                text.get(0).innerHTML = cell.textTitle;
                div.get(0).append(text.get(0));
                break;
        }
        div.on('mousedown', function (event) {
            //添加点击事件
            addMenuCell = cell;
        });
        return div.get(0);
    }

    /**
     * 根据TabID获取一页的cell数据
     * @param tabId
     */
    function getScreenCell(tabId) {
        var flyscreen = $('.flyscreen').get(0);
        if (flyscreen) {
            $.ajax({
                url: pagecellurl,
                type: "GET",
                data: "pageId=" + tabId,
                dataType: 'html',
                success: function (result) {
                    try {
                        var data = JSON.parse(result);
                        screenCellArr.splice(0, screenCellArr.length);
                        flyscreen.innerHTML = '';
                        for (i = 0; i < data.cellList.length; i++) {
                            var num = screenCellArr.length;
                            var div = cellScreenDiv(data.cellList[i],num);
                            if (div) {
                                screenCellArr[num] = data.cellList[i];
                                flyscreen.append(div);
                            }
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        }
    }

    /**
     * 获取添加的所有cell样板数据
     */
    function getMenuCell(searchStr) {
        var flycellmenu = $('.flycellmenu').get(0);
        if (flycellmenu) {
            $.ajax({
                url: cellurl,
                type: "GET",
                data: "search=" + searchStr,
                dataType: 'html',
                success: function (result) {
                    try {
                        var data = JSON.parse(result);
                        menuCellArr.splice(0, menuCellArr.length);
                        flycellmenu.innerHTML = '';
                        for (i = 0; i < data.rows.length; i++) {
                            var num = screenCellArr.length;
                            menuCellArr[num] = data.rows[i];
                            flycellmenu.append(cellMenuDiv(menuCellArr[num]));
                        }
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        }
    }

    function documentEventInit() {
        $(document).on('mousedown', function (event) {
            //
        }).on('mousemove', function (event) {
            try {
                if (addMenuCell) {
                    addMenuCell.imgUrl = addMenuCell.imageurl1;
                    if (bodyMoveDiv === null) {
                        bodyMoveDiv = cellScreenDiv(addMenuCell);
                        document.body.appendChild(bodyMoveDiv);
                    }
                    bodyMoveDiv.style.left = event.clientX + 'px';
                    bodyMoveDiv.style.top = event.clientY + 'px';
                }
            } catch (e) {
                console.log(e);
            }
        }).on('mouseleave', function (event) {
            if (bodyMoveDiv) {
                document.body.removeChild(bodyMoveDiv);
                bodyMoveDiv = null;
            }
            if (addMenuCell) {
                addMenuCell = null;
            }
        }).on('mouseup', function (event) {
            if (bodyMoveDiv) {
                document.body.removeChild(bodyMoveDiv);
                bodyMoveDiv = null;
            }

            var flyscreen = $('.flyscreen').get(0);

            if (flyscreen) {
                var left = flyscreen.offsetLeft;
                var top = flyscreen.offsetTop;
                var width = flyscreen.offsetWidth;
                var height = flyscreen.offsetHeight;

                if (event.clientX >= left && event.clientX <= (width + left) && event.clientY >= top && event.clientY <= (height + top)) {
                    if (addMenuCell) {
                        var x = event.clientX - left + flyscreen.scrollLeft;
                        var y = event.clientY - top + flyscreen.scrollTop;
                        addMenuCell.x = x ;
                        addMenuCell.y = y ;
                        addMenuCell.imgUrl = addMenuCell.imageurl1;
                        var num = screenCellArr.length;
                        screenCellArr[num] = addMenuCell;
                        flyscreen.append(cellScreenDiv(screenCellArr[num],num));
                    }
                }
            }
            if (addMenuCell) {
                addMenuCell = null;
            }
        });

    }

    function flyscreenClassEventInit() {
        var flyscreen = $('.flyscreen');
        if (flyscreen) {
            flyscreen.on('mousemove', function (event) {
                var x = event.clientX;
                var y = event.clientY;
                if (screenMoveCell) {
                    x = x - screenMoveDivPoint.x;
                    y = y - screenMoveDivPoint.y;
                    screenMoveCell.x = x ;
                    screenMoveCell.y = y ;
                    screenMoveDiv.style.left = x + 'px';
                    screenMoveDiv.style.top = y + 'px';
                }else{
                    x = x - this.offset().left;
                    x = x - this.offset().top;
                }
                showMSG(x + "--" + y);
            }).on('mouseup', function (event) {
                if (screenMoveDiv) {
                    screenMoveDiv = null;
                }
                if (screenMoveCell) {
                    screenMoveCell = null;
                }
            });
        }
    }

    function upTableData() {
        var pageCellArr = [];
        for (var i = 0; i < screenCellArr.length; i++) {
            pageCellArr[i] = {};
            pageCellArr[i].cellId = screenCellArr[i].cellId;
            pageCellArr[i].width = screenCellArr[i].width;
            pageCellArr[i].height = screenCellArr[i].height;
            pageCellArr[i].x = screenCellArr[i].x;
            pageCellArr[i].y = screenCellArr[i].y;
        }
        var celljson = JSON.stringify(pageCellArr);
        $.ajax({
            url: pagecellurl,
            type: "POST",
            data: "jsondata="+celljson+"&pageId="+pageId,
            dataType: 'html',
            error: function (request) {
                alert("向服务器提交页面数据更新失败!");
            },
            success: function (result) {
            }
        });
    }


    +$(function () {
        documentEventInit();
        flyscreenClassEventInit();
    });

    getMenuCell();

    pageId = $('#sel').val();
    getScreenCell(pageId);
    $('#sel').change(function () {
        pageId = $('#sel').val();
        getScreenCell(pageId);
    });
</script>
</html>

