<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <link rel="stylesheet" type="text/css" href="_CSS_/flyscreen.css">
    <script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="_JS_/flyscreen.js"></script>
</head>
<body>
<div class="flycenter">
    <div class="flyscreen">
        <div class="flyscreenmsg"></div>
    </div>
    <div class="flycelllist">
        {volist name="list" id="cell" key="k"}
        <div class="flybasecell">
            {if condition="($cell.width/$cell.height>300/240)"}
            <img style="vertical-align:middle" src="{$cell.imageurl1}" width="300px" ondragstart="return false;"/>
            {else /}
            <img style="vertical-align:middle" src="{$cell.imageurl1}" height="240px" ondragstart="return false;"/>
            {/if}
        </div>
        {/volist}
    </div>
</div>

</body>
</html>

