<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <link rel="stylesheet" type="text/css" href="_CSS_/ui.css">
    <script type="text/javascript" src="_JS_/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="_JS_/uiscreen.js"></script>
</head>
<body>
<div id="menu" class="left_menu">
    <div class="left_menu_item"><a href="javascript:loadJSON();">加载JSON</a></div>
    <div class="left_menu_item"><a href="javascript:showJSON();">加载JSON</a></div>
</div>
</body>
</html>
