<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签页</title>
</head>
<link rel="stylesheet" type="text/css" href="_CSS_/bootstrap.css">
<script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="_JS_/bootstrap.js"></script>
<script type="text/javascript" src="_JS_/flyinput.js"></script>
<script type="text/javascript" src="_JS_/flytabcell.js"></script>
<body>
<ul id="myTab" class="nav nav-tabs">
    <li id="mainmenu" class="active"><a href="#tabcontent" data-toggle="tab">主控件</a></li>
    <li id="addsub"><a onclick="addSubTab()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
</ul>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"  action="{:url('/api/cell')}" enctype="multipart/form-data">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="tabcontent0">
            <input type="hidden" name="userid" id="userid" value="{$Think.session.user_id}">
            <div class="modal-body">
                <table width="100%" class="tab-content">
                    <tr class="form-group" height="40px">
                        <td>类型：</td>
                        <td><select id="celltypeId" name="celltypeId">
                            {volist name="list" id="celltype" key="k"}
                            <option value="{$celltype.celltypeId}">{$celltype.celltypename}</option>
                            {/volist}
                        </select>
                        </td>
                        <td>检索名称：</td>
                        <td><input id="name" name="name" type="text" value="" placeholder="方便检索"></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>宽度：</td>
                        <td><input id="width" name="width" type="text" value="" placeholder="单位像素"></td>
                        <td>高度：</td>
                        <td><input id="height" name="height" type="text" value="" placeholder="单位像素"></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>文本：</td>
                        <td><input id="text" name="text" type="text" value="" placeholder=""></td>
                        <td>文本位置：</td>
                        <td><input id="textposition" name="textposition" type="text" value="" placeholder=""></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>文本大小：</td>
                        <td><input id="textsize" name="textsize" type="text" value="" placeholder=""></td>
                        <td>文本颜色：</td>
                        <td><input id="textcolor" name="textcolor" type="text" value="" placeholder="格式：#FFFFFFFF">
                        </td>
                    </tr>
                    <tr class="form-group" height="200px">
                        <td>图片一：</td>
                        <td>
                            <input type="file" id="imageinput1" name="imagefile">
                            <input type="hidden" id="imageurl1" name="imageurl1" value="">
                        </td>
                        <td>图片二：</td>
                        <td>
                            <input type="file" id="imageinput2" name="imagefile">
                            <input type="hidden" id="imageurl2" name="imageurl2" value="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="tabcontent1">
            <input type="hidden" name="userid" id="userid" value="{$Think.session.user_id}">
            <div class="modal-body">
                <table width="100%" class="tab-content">
                    <tr class="form-group" height="40px">
                        <td>类型：</td>
                        <td><select id="celltypeId" name="celltypeId">
                            {volist name="list" id="celltype" key="k"}
                            <option value="{$celltype.celltypeId}">{$celltype.celltypename}</option>
                            {/volist}
                        </select>
                        </td>
                        <td>检索名称：</td>
                        <td><input id="name" name="name" type="text" value="" placeholder="方便检索"></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>宽度：</td>
                        <td><input id="width" name="width" type="text" value="" placeholder="单位像素"></td>
                        <td>高度：</td>
                        <td><input id="height" name="height" type="text" value="" placeholder="单位像素"></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>文本：</td>
                        <td><input id="text" name="text" type="text" value="" placeholder=""></td>
                        <td>文本位置：</td>
                        <td><input id="textposition" name="textposition" type="text" value="" placeholder=""></td>
                    </tr>
                    <tr class="form-group" height="40px">
                        <td>文本大小：</td>
                        <td><input id="textsize" name="textsize" type="text" value="" placeholder=""></td>
                        <td>文本颜色：</td>
                        <td><input id="textcolor" name="textcolor" type="text" value="" placeholder="格式：#FFFFFFFF">
                        </td>
                    </tr>
                    <tr class="form-group" height="200px">
                        <td>图片一：</td>
                        <td>
                            <input type="file" id="imageinput1" name="imagefile">
                            <input type="hidden" id="imageurl1" name="imageurl1" value="">
                        </td>
                        <td>图片二：</td>
                        <td>
                            <input type="file" id="imageinput2" name="imagefile">
                            <input type="hidden" id="imageurl2" name="imageurl2" value="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary" onclick="postform()">提交</button>
    </div>
</form>
<script type="text/javascript">
    var upimageurl = "{:url('/api/imagefile')}";
</script>
</body>
</html>