<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <link rel="stylesheet" type="text/css" href="_CSS_/flyscreen.css">
    <script type="text/javascript" src="_JS_/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="_JS_/flyinput.js"></script>
</head>
<body>
<input type="file" id="flyinput" name="imagefile">
<input type="text" id="imgurl" name="imgurl" value="" >
<script type="text/javascript">
    $('#flyinput').flyinput({
        url: "{:url('/api/imagefile')}",
        autoup: true,
        showPreview: true,
        width: "800px",
        height: "300px",
        background:"#007f00"
    }).on("success",function (event,data) {
        var result = JSON.parse(data);
        $('#imgurl').val(result.saveName);
    });
</script>
</body>
</html>
